@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: white;
}

*{
    margin: 0;
    padding: 0;
}
nav{
    font-family:'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    background-color: black;
    color: whitesmoke;

}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 50px;
    padding: 0 8px;
}
.brand{
    display:flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg1.jpg');
    background-size: cover;

     
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin: 14px;
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    text-align: center;
}

.songItem{
    height: 40px;
    display: flex;
    background-color: white;
    width: 40%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 33px;
    
}

.songItem img{
    width: 27px;
    margin: 0 23px;
    border-radius: 15px;

}

.timeStamp{
    margin: 0 20px;
    align-items: center;

}